<body>
    <section class="landing-section">
        <div class="landing-container">

           
            <img src="/mia.png" 
                alt="Persona con sudadera" 
                class="landing-image">

                <h1 class="landing-title">
                    WORK FOR IT...   
                </h1>
       
            <div class="card-container">
                <div class="card">
                    sobre mi 
                </div>
                <div class="card">
                    mis proyectos
                </div>
                <div class="card">
                    otras curiosidades
                </div>
            </div>
        </div>
    </section>
    <app-mis-proyectos></app-mis-proyectos>
</body>
